*{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: "GraphgikBold" ;
    src: url(./fonts/GraphikBold.otf);
}
@font-face {
    font-family:'Graphikregular';
    src: url(./fonts/GraphikRegular.otf);
}
body{
    background: 
    #181818;
}


.headermenu {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    align-items: center;
    
    
}
.logo {
    margin-left: 281px;
    margin-top: 30px;
    margin-inline: auto;
}
.menu {
    display: flex;
    align-items: center;
    column-gap: 35px;
    font-family:'Graphikregular';
    margin-top: 47px;
    margin-inline: auto;
    color: #FFFFFF;
    
}
.Login{ 
    
    margin-top: 46px;
    width: 139px;
    height: 52px;
    margin-inline: auto;
    border-style: line;
    cursor: pointer;
    background-color: #181818;
   
    font-family:'Graphikregular';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #FFFFFF;

    flex: none;
    order: 0;
     flex-grow: 0;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
 }
.home {
    margin-inline: auto;
    font-family:'Graphikregular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    text-decoration: none;

    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title {
    
    font-family: "GraphgikBold" ;
    margin-inline: auto;
    max-width: 709px;
    height: 176px;
    margin-top: 142px;
    
    
}
.text {
    
    max-width: 582px;
    margin-top: 37px;
    margin-inline: auto;
   
}

.text > h5 {
    font-family:'Graphikregular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title > h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 88px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.buttonbox{
    display: flex;
    width: 387px;
    height: 65px;
    margin-inline: auto;
}
.button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 95px;
    width: 178px;
    height: 65px;
    background: #4452FE;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.button1 > p {
    font-family:'Graphikregular';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    padding-left: 14px;
    text-align: center;
    letter-spacing: 0.2px;
 
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.button2 {
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 35px;
    margin-top: 95px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 30px;
    
    width: 174px;
    height: 65px;
    background-color: #181818;
    
    
    border: 1px solid #FFFFFF;
 
    
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    
    
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.button2 > p {
    font-family:'Graphikregular';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    text-align: center;
    padding-left: 14px;
   color: #FFFFFF;
   flex: none;
   order: 0;
    flex-grow: 0;
}
.photo1{
    
    display: flex;
    margin-top: 130px;
    margin-left: 435px;
    
}
.photo2 {
    
    position: absolute;
    margin-left: 670px;
    margin-top :-215px; 

}
.photo3 {
   
    position: absolute;
    margin-left: 200px;
    margin-top :-200px;
}
.gradient {
    
    position: absolute;
    width: 100%;
   height: 150%;
    background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
    
}